@font-face {
    font-family: 'primary';
    src: url('./assets/fonts/Figtree-VariableFont_wght.ttf');
}

:root {
  /* colors */
  --yellow: hsl(47, 88%, 63%);
  --grey: hsl(0, 0%, 50%);
  --black: hsl(0, 0%, 7%);
  
  font-family: 'primary';
}

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
